*{
    box-sizing : border-box;
}

.html{
    font-size: 62.5%;
}

.body,h1,h2,ul{
    margin: 0;
    padding: 0;
}
.ul{
    list-style: none;
}
.arkaplan {
    background-color: #25373D;
}
.taraf{
    width: 960px;
    margin: 0 auto;
}
.ust{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}
.logo{
    letter-spacing: .3rem;
    color : wheat;
     
}
.orta .sahil{
    margin-top:20px;
    border:10px solid #25373D;
    padding:20px;
}

.orta .sahil img{
    display: block;
    width: 100%;
}
.orta .ortafoto{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.ust .hrefler ul{
    display: flex;
}
.ust .hrefler ul li{
    margin:0 1rem;
}

.ust .hrefler ul a{
    color:wheat;
    text-decoration: none;
    font-size:1.2rem;
    padding:0 2rem;
    text-decoration: none;
    list-style-type: none;
}
.ust .hrefler ul a:hover{
    color: black;
    transition: 1s;           /* üzerine geldiğimiz href'in siyah rengine hafif yumuşak bir geçiş yapmasını */
}

.alt{
    margin-top:20px;
    padding:20px 0;
    display: flex;
    gap:20px;
    background-color: wheat;
}
.alt .baglanti{
    flex-grow: 1;
}

.alt .baglanti ul li{
    border-bottom:dotted 1px #FCB941;
    text-decoration: none;
    list-style-type: none;
    margin:5px 0;
}

.alt .baglanti a{
    font-size:1.6rem;
    text-decoration: none;
    list-style-type: none;
    color:#FCB941;
}


.cizgi{
    border-top:dotted 1px #FCB941;
    margin:20px 0;
}

.alt-kenar-10{
    border-bottom:10px solid #FCB941;
}