/* Google Font'tan çektiğimiz poppins font tipi sayfamıza eklenecek - import ettik */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* RESET CSS YAZIMI */
*{
    margin: 0;                      /* koşeleri sıfırlıyorum */
    padding: 0;
    box-sizing: border-box;         /* kutularımı belli bir kalıba sokma işlemi*/
    outline: none;                  
    border: none;                   /* köşeleri silmek için */
    text-decoration: none;          /* aşağıdaki satır ile metin arası çizer */
    text-transform: capitalize;     /* capitalize,uppercase,lowecase vs türleri vardır: capitalize: bas harfler büyük */
    letter-spacing: normal;         /* karakterlerin mesafesi */
    transition: 0.2s ease;          /* hızlı bir geçiş değil de daha yumuşak bir geçiş (0.2saniye) */
    font-family: 'Poppins', sans-serif;
}
/* Başlangıç olarak birden çok css düzenlemesi yapıp hızlı kod yazmış olacağım...*/

:root{
    --main-color: rgb(9, 147, 101);
    --black-color: #121212;
    --border: 0.1rem solid rgba(255,255,255,0.4);
}

/* temel Html CSS'i : en baştaki o temel html sayfasına başlıca özellikler ekliyoruz*/
html{
    /* ekrandaki genel yapı daha uzaklaştı , pixelleri kücülttüm her component için */
    font-size: 62.5%;               /* Base 1rem=16px;  bir rem'i 10 pixel yapmak için 62.5%*/
    overflow-x: hidden;             /* Alt taraftaki scroll'u kapattık */
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}
body{
    background-color: var(--main-color);      /* aksi belirtilmediği sürece default main color olacak */
    height: 200vh;                            /* aşağı yönlü scroll için */
}

.header .logo img{
    height : 6.5rem;
    border-radius: 50%;                       /* logo büyüklüğü ayarlandı ve Circle hale getirildi border-radius ile*/
}

.header{
    background-color: white;                /* var()  renginden farklı bir renk tanımladık */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7%;                            /* sağdan soldan biraz uzaklaştırdık */                
    margin: 2rem 7%; 
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.90) ;                    /* gölge efekti */
    position: sticky;                         /* üstteki navbar sürekli hareket etmesi için*/
    top: 0;
    z-index: 1000;                            /* üstünü herhangi bir component kapatmasın */
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.2rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.2rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 2rem;
    background-color: transparent;
}

.home{
    min-height: 100vh;
    background: url(../photos/keyboard.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -13.5rem;
    display: flex;
    align-items: center;
}
.home .content{l
    max-width: 60rem;
}
.home .content h3{
    font-size: 5rem;
    color: white;
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8; 
    padding: 1rem 0;
    color: #ccc;
}

section{
    padding: 4rem 8%;
} 

.butonum{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 2rem;
    border-radius: 30rem;
    color: #fff;
    font-size: 2rem;
    background-color: rgb(85, 10, 183);
    cursor: pointer;
}

.projeler .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 1.5rem;
} 

.projeler .grid-container .grid {
    padding: 3rem;
    background-color: white;
    border-radius: 3rem;
    background-color: white;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.projeler .grid-container .grid .grid-foto img{
    width: 100%;
    object-fit: cover;
}
.projeler .grid-container .grid .grid-foto grid-fotom{
   font-size: 1.4rem;
}
.projeler .grid-container .grid .grid-foto h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}
.heading{
    color:white;
    text-transform: uppercase; 
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
}

.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.2rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 2rem;
    background-color: transparent;
}

.home{
    min-height: 100vh;
    background: url(../photos/keyboard.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -13.5rem;
    display: flex;
    align-items: center;
}
.home .content{l
    max-width: 60rem;
}
.home .content h3{
    font-size: 5rem;
    color: white;
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8; 
    padding: 1rem 0;
    color: #ccc;
}

section{
    padding: 4rem 8%;
}

.butonum{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 4rem;
    border-radius: 30rem;
    color: #fff;

}
.heading span{
    color:  rgb(85, 10, 183);
    text-transform: uppercase;
}