/* Google Font'tan çektiğimiz poppins font tipi sayfamıza eklenecek - import ettik */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* RESET CSS YAZIMI */
*{
    margin: 0;                      /* koşeleri sıfırlıyorum */
    padding: 0;
    box-sizing: border-box;         /* kutularımı belli bir kalıba sokma işlemi*/
    outline: none;                  
    border: none;                   /* köşeleri silmek için */
    text-decoration: none;          /* aşağıdaki satır ile metin arası çizer */
    text-transform: capitalize;     /* capitalize,uppercase,lowecase vs türleri vardır: capitalize: bas harfler büyük */
    letter-spacing: normal;         /* karakterlerin mesafesi */
    transition: 0.2s ease;          /* hızlı bir geçiş değil de daha yumuşak bir geçiş (0.2saniye) */
    font-family: 'Poppins', sans-serif;
}
/* Başlangıç olarak birden çok css düzenlemesi yapıp hızlı kod yazmış olacağım...*/

:root{
    --main-color: rgb(9, 147, 101);
    --black-color: #121212;
    --border: 0.1rem solid rgba(255,255,255,0.4);
}

/* temel Html CSS'i : en baştaki o temel html sayfasına başlıca özellikler ekliyoruz*/
html{
    /* ekrandaki genel yapı daha uzaklaştı , pixelleri kücülttüm her component için */
    font-size: 62.5%;               /* Base 1rem=16px;  bir rem'i 10 pixel yapmak için 62.5%*/
    overflow-x: hidden;             /* Alt taraftaki scroll'u kapattık */
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}
body{
    background-color: var(--main-color);      /* aksi belirtilmediği sürece default main color olacak */
    height: 200vh;                            /* aşağı yönlü scroll için */
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
    
}
html::-webkit-scrollbar-thumb { 
    background-color: var(--main-color);
    border-radius: 3rem;   
}
html::-webkit-scrollbar-track{
    background-color: black;
}

.header .logo img{
    height : 6.5rem;
    border-radius: 50%;                       /* logo büyüklüğü ayarlandı ve Circle hale getirildi border-radius ile*/
}

.header{
    background-color: white;                /* var()  renginden farklı bir renk tanımladık */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7%;                            /* sağdan soldan biraz uzaklaştırdık */                
    margin: 2rem 7%; 
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.90) ;                    /* gölge efekti */
    position: sticky;                         /* üstteki navbar sürekli hareket etmesi için*/
    top: 0;
    z-index: 1000;                            /* üstünü herhangi bir component kapatmasın */
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.2rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.2rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 2rem;
    background-color: transparent;
}

.home{
    min-height: 100vh;
    background: url(../photos/keyboard.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -13.5rem;
    display: flex;
    align-items: center;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
    font-size: 5rem;
    color: white;
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8; 
    padding: 1rem 0;
    color: #ccc;
}

section{
    padding: 4rem 8%;
} 

.butonum{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 2rem;
    border-radius: 30rem;
    color: #fff;
    font-size: 2rem;
    background-color: rgb(85, 10, 183);
    cursor: pointer;
}

.projeler .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 1.5rem;
} 

.projeler .grid-container .grid {
    padding: 3rem;
    background-color: white;
    border-radius: 3rem;
    background-color: white;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.projeler .grid-container .grid .grid-foto img{
    width: 100%;
    object-fit: cover;
}
.projeler .grid-container .grid .grid-foto grid-fotom{
   font-size: 1.4rem;
}
.projeler .grid-container .grid .grid-foto h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}
.heading{
    color:white;
    text-transform: uppercase; 
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
}

.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.2rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 2rem;
    background-color: transparent;
}

.home{
    min-height: 100vh;
    background: url(../photos/keyboard.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -13.5rem;
    display: flex;
    align-items: center;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
    font-size: 5rem;
    color: white;
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8; 
    padding: 1rem 0;
    color: #ccc;
}

section{
    padding: 4rem 8%;
}

.butonum{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 4rem;
    border-radius: 30rem;
    color: #fff;

}

.butonum:hover {
    opacity: 0.75; 
}
.heading span{
    color:  rgb(85, 10, 183);
    text-transform: uppercase;
}


.about .introduction {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;                /* flex'in bir özelliği, foto ve information kısmı arası 20pixel boşluk bırakmaya yarar*/
} 
.about .introduction .photo {
    flex: 1 1 45rem;
} 
.about .introduction img {
    width: 100%;
    border-radius: 3rem;
}

.about .introduction .information {
    flex: 1 1 45rem;
} 
.about .introduction .information h3{
    font-size: 2.6rem;
    color: white;
} 
.about .introduction .information p{
    font-size: 1.6rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.8;
} 
.contact .contactme{
    display: center;
    background-color: var(--black-color);
    flex-wrap: wrap;
    border-radius: 2.5rem;
}
.contact .contactme form{
    width: 100%;
    padding: 5rem 2rem;
    object-fit: cover;
    text-align: center;
}
.contact .contactme form h3{
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
}
.contact .contactme form .inputBox{
    display: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: var(--black-color);
    border-radius: 2.5rem;
}
.contact .contactme form .inputBox i{
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .contactme form .inputBox input{
    color: white;
    width: 70%;
    padding: 1.5rem;
    text-transform: none;
    font-size: 1rem;
    background-color: rgb(38, 38, 38);
    border-radius: 2rem;
}
.contact .contactme form .butonum{
    color: var(--main-color);
    background-color: aquamarine;
    font-weight: bold;
}

.pages .mypages {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 1.5rem;
} 
.pages .mypages .startpages{
    background-color: white;
    border-radius: 3rem;
}
.pages .mypages .startpages .image{
   height: 25rem;
   overflow: hidden;
   width: 100%;
   border-top-right-radius: 3rem;            /*  sağ üst ve sol üst kısmı da hafif yumuşakça ovalleştirdik.*/
   border-top-left-radius: 3rem;             /* Ovalleştirme işlemi için...*/
}
.pages .mypages .startpages .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.pages .mypages .startpages:hover .image img{
    transform: scale(1.15);
}
.pages .mypages .startpages .content{
    padding: 2rem;
}
.pages .mypages .startpages .content .title{
    font-size: 1.8rem;
    line-height: 1.5rem;
}
.pages .mypages .startpages .content span{
    display: block;
    padding-top: 1rem;
    font-size: 0.8rem;
}

.footer{
    background-color: var(--black-color);
    padding: 4rem;
    text-align: center;
}
.footer .search{
    display: flex;
    justify-content: center;
}
.footer .search .search-input{
    height: auto;
    width: 30rem;   
    border-radius: 2rem;
}
.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}
.footer .search .btn-primary{
    background-color: var(--main-color);
    padding:  1rem 2rem;
    margin-left: 1rem;
    border-radius: 2rem;
}
.footer .share{
    padding: 2rem 0;

}
.footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: white;
    font-size: 2.5rem;
    border: var(--border);
    border-radius: 50%;             /* tatlı yuvarlak oval şekli alması için */
    margin: 0.5rem;
    
}

.footer .share a:hover{
   background-color: var(--main-color);
    
}

.footer .credit{
    font-size: 1.2rem;
    color: var(--main-color);
    font-weight: 300;
    padding-top: 1.5rem;
}

.header .search-form{
    position: absolute;
    top: 115%;
    background-color: #fff;
    right: 2%;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 25px 2px rgba(1, 0, 2, 0.9);
    border-radius: 3rem;                    
    transform: scaleY(0);
}
.header .search-form.active {
    transform: scaleY(1);
}
.header .search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;           
}
.header .search-form input{
    width: 100%;              
}


#menu-icon {
    display: none;
}

/* Responsive yapı için */
/* Sayfa boyutu bozulduğunda header'ımız karışıyor ve bozuluyordu...  */
@media (max-width:991px) {
    html{
        font-size: 55%;
    };
    .header{
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 0;
        background-color: white; 
        width: 100%;
        overflow: hidden;
        transition: max-height .5s;
    }
    .header .logo img{
        height: 7rem;
    }
    section {
        padding: 2rem;
    }
    .header .buttons .menu-icon{
        margin-right: 50px; 
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
        cursor: pointer;                /* üzerine geldiğimzde bir fare çıkması icin */
    }
}
@media (max-width:760px) {
   #menu-icon{
    display: inline-block;
   }
   .header .navbar{
    position: absolute;
    top: 95%;
    background-color: #fff; 
    height: calc(100vh - 50rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgba(0,0,0,0.90);
    right: -100%;       
    border-radius: 2rem;             
   }
   .header .navbar.active{
    right: 3rem;
    }
   .header .navbar a{ 
    color: var(--black-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
   }
}

@media (max-width:550px) {
    html{
        font-size: 50%;
    }
    #menu-icon{
        display: inline-block;
       }

}

.scrollUp {
    position: fixed;
    right: 1rem;
    bottom: 0;
    background-color: var(--main-color);
    opacity: .9;
    border-radius: .6rem;
    padding: 2 2rem;
    z-index: var(--black-color) ;
    transition: .4s;
    font-size: 2.5rem;
}
.scrollUp:hover{
    background-color: #121212;
}

.darkMode {
    align-items: center;
}
body.darkMode{
    --main-color: rgb(72, 5, 87);
    --black-color: #bcc007;
    --border: 0.1rem solid rgba(255,255,255,0.4);
}

/* 
   CSS kodunda her adım tek tek açıklanmaya çalışılmıştır
   Bu tasarım yapılırken  birçok Medium,W3Schools sayfasından araştırma yapılmıştır.
   CodingWithMosh , BilgisayarGenetiği sayflarından örnek kodlar alınmıştır
   Arkaplan resmi PİXABAY.COM dan alınmıştır 
   İG,Facebook,Mail vb ikonlar CODEPEN ICON'dan alınmıştır.  
   Codepen Icon'dan CDN çekilmiştir.  Üst kısımda İmport bilgileri görülebilir...
*/